# Configurações do Banco de Dados - LOCAL
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=sge
DB_USER=root
DB_PASS=

# Configurações do Banco de Dados - VPS DigitalOcean / Produção
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_NAME=sge
# DB_USER=sge_user
# DB_PASS=SUA_SENHA_MUITO_FORTE_AQUI

# Configurações Gerais da Aplicação
APP_ENV=production
APP_URL=https://seudominio.com.br/
APP_KEY=insira_uma_chave_hash_segura_de_32_bytes

# Configurações de Envio da Z-API (WhatsApp)
ZAPI_URL=https://api.z-api.io/instances/SUA_INSTANCIA/token/SEU_TOKEN/send-text
ZAPI_CLIENT_TOKEN=SEU_CLIENT_TOKEN
