<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirecionar requisições da raiz para a pasta public se acessado diretamente
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
