<IfModule mod_rewrite.c>
    RewriteEngine On
    DirectoryIndex index.php

    # Exceção para arquivos estáticos (CSS, JS, Imagens, Fontes) para evitar reescrita em drives mapeados
    RewriteCond %{REQUEST_URI} \.(css|js|png|jpg|jpeg|gif|ico|svg|woff|woff2|ttf|eot)$ [NC]
    RewriteRule ^ - [L]

    # Se o arquivo ou diretório solicitado fisicamente existir, acesse diretamente
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Caso contrário, redirecione tudo para o Front Controller index.php
    RewriteRule ^ index.php [L,QSA]
</IfModule>
