<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # RewriteBase dinâmico (omitido para funcionar tanto no local quanto na VPS)

    # Se o arquivo ou diretório solicitado fisicamente existir, acesse diretamente
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Caso contrário, redirecione tudo para o index.php
    RewriteRule ^(.*)$ index.php [L,QSA]
</IfModule>
